/* styles.css for HTML/CSS Quiz: Grid of Cards
David Shuman
9 January 2016 */

#container {
  padding-left: 5%;
}

#mainHeader {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

h1 {
  font-family: 'Righteous', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 5px 0 5px 0;
  border: 1px dotted #CCC;
}

img {
  display: block;
  margin: 5px auto 8px;
  padding: 0;
  max-height: 120px;
  max-width: 100%;
}


/*one article is one card*/

article {
  height: 555px;
  width: 30%;
  border: 1px solid #ADD8E6;
  margin: 5px 5px 5px 5px;
  float: left;
  list-style: none;
}

.firstSection{
  position: relative;
  height: 276px;
  border-bottom: 1px solid black;
}

.productDesc {
  margin: 0;
  padding: 0 13px 0 13px;
  text-align: justify;
  font-weight: bold;
}

.productAvailable {
  position: absolute; /*relative to .firstSection*/
  top: 244px;
  width: 100%; /* this box spans full width of parent */
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  background-color: #666;
  color: yellow;
}

.secondSection {
  height: 110px;
  padding-top: 10px;
  border-bottom: 1px solid black;
}

.secondSection ul li {
  list-style: none;
  margin: 0;
  padding: 10px 0 0 0;
}

.secondSection footer {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
}

#specifications {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  margin-left: 10px;
}

.productSize, .productWeight {
  margin: 10px 0 10px 15px;
}

.thirdSection {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.thirdSection header {
  text-size: 0.8em;
  margin-left: 20px;
}

#prices_left {
  margin-left: 10px;
  width: 50%;
  float: left;
}

#prices_right {
  margin-left: 20px;
  width: 30%;
  float: right;
}
