#mainHeader {
  font-family: "Arial", sans-serif;
  font-size: 24px;
}

h1 {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Arial", sans-serif;
  font-size: .6em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: "Arial", sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
  margin: 0 0 0 10px;
  padding: 0;
}

/*one article is one card*/

article {
  height: 570px;
  width: 30%;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  float: left;
}

article ul {
  list-style: none;
  max-width: 98%;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: 5px auto 2px;
  padding: 0 auto;
  padding: 0;
  max-height: 120px;
  max-width: 100%;
}

.productDesc {
  max-width: 90%;
  margin: 0;
  padding: 0 0 0 13px;
}

.productAvailable {
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.productSize, .productWeight {
  margin-left: 20px;
}

footer {
  font-size: 0.6em;
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
}

.firstSection{
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.secondSection {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.thirdSection {
  padding-top: 10px;
  padding-bottom: 10px;
}

.thirdSection header {
  text-size: 0.8em;
  margin-left: 20px;
}

#specifications {
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

#prices_left {
  margin-left: 10px;
  width: 40%;
  float: left;
/*  border: 1px solid black;*/
}

#prices_right {
  margin-left: 20px;
  width: 40%;
  float: right;
/*  border: 1px solid black;*/
}